@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SFUIText-Regular;
}

.main {
    height: 100vw;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.header {
    border: 1px solid;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_middle {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_book {
    color: #0555af;
    font-size: 15px;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header_right span {
    font-size: 15px;
    font-weight: 400;
}

.header_right .call_icon {
    font-weight: 400;
    font-size: 25px;
    color: #D93025;
}

.header_right a {
    color: #D93025;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;

}

.header_right .header_call {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* nav */
.header_nav {
    border: 1px solid;
    height: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav .closebtn {
    display: none;
}

.header_nav .dropdowns {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: flex-end;
}

.header_nav .dropdowns .navTp {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
}

.header_nav .dropdowns .navTp a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    color: #2D2D2D;
    padding: 7px 7px;
}

.header_nav .dropdowns .navTp a:focus {
    color: #1A73E8;
    border-bottom: 2px solid #1A73E8;
}


/* form */
.main_section{
    background-image: url(/banner-bg-1.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
}
/* .main_section {
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    background-position: center top;
    padding: 15px 10px;
    float: left;
  } */